<div class="home-container">
  <navbar class="navbar-fixed"></navbar>
  <p>hello</p>
  <div class="content">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12 user-profile">
        <user-profile></user-profile>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-12 p-0 posts">
        <div  class="create-post-prompt" (click)="openModal()">
          <p>What's on your mind?</p>
        </div>
        <create-post [showModal]="showModal"></create-post>
        <all-posts [exploreMode]="false"></all-posts>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 explore-user ">
        <explore-user></explore-user>
      </div>
    </div>
  </div>
</div>
