<navbar class="navbar-fixed"></navbar>

<div class="profile-container">
  <div class="profile-header">
    <div class="cover-photo">
      <img src="/assets/image/image1_0.jpg" alt="cover photo" class="cover-photo-image">
    </div>
    <div class="profile-details">
        <div class="profile-image">
          <div class="default-profile-image"></div>
        </div>
        <div class="profile-info">
          <p class="username">&#64;//</p>
          <h1>// //</h1>
           </div>

      </div>
    </div>


    <div>
      <h1 class="message">This user has deactivated their account.</h1>
    </div>
</div>
